.center {
    text-align: center !important;
}

.tamCard{
    margin: 0 auto;
    width: 20%;
    text-align: center;
    margin-top: 20px;
}

.tamCard img {
    width: 100%;
    text-align: center !important;
}

.msgNaoEncontrado {
   padding: 10px;
}

.divisor {
    margin-top: 3px;
    margin-bottom: 10px;
    border-top: 4px solid #bbb;
    border-radius: 5px;
}

.fontemedia {
    font-size: 16px !important;
}

.fontepequena {
    font-size: 12px !important;
}